{% extends 'base.html' %}

{% load bootstrap_tags %}

{% block title %}

Contact Us

{% endblock %}

{% comment %} {% load crispy_forms_tags %} {% endcomment %}

{% block content %}

<section class="contact">
    
    <div class="container">
{% comment %} 
        <div class="row">
            
            <h1 class="title">Contact Us</h1>
        
        </div> {% endcomment %}

        <div class="row contact_title">

            <div class="col-12">

                <p class="text">
            
                    GET IN TOUCH

                </p>

                <p class="text">
                
                If you have any questions, comments or suggestions, send us a message here. We’ll get back to you as soon as we can.
                
                </p>
            
            </div>

        </div>

        <div class="row">

            <div class="col-12 justify-content-center">

                <form role="form" method="POST" action="{% url 'contact' %}">

                    {% csrf_token %}

                    {{ contact_form | as_bootstrap }}
                    
                    <div class="d-flex justify-content-left">

                        <button class="btn btn-success" action="submit">Send!</button>

                    </div>

                </form>

            </div>

        </div>

    </div>
</section>


{% endblock %}