db.sqlite3
env.py
# As we have our static and our media on S3, we don't really need them to be pushed to git, so we can add things like PNG, Static and Media. 
# We will have to push them to s3 if we want any css changes
*.png
*.jpg
static/
media/
cart/templates/cart_ecom.html
cart/templates/glen.html
checkout/templates/experiement_checkout.html
cart/templates/test.-cart.html
accounts/templates/reg-trial.html
