<!-- extends from base.html -->
{% extends 'base.html' %}

{% block content %}

    <div class="container" style="margin-bottom: 40px;">

      <div class="row row-flex">

    {% for product in products %}

          <div class="col-xs-10 col-xs-offset-1 col-sm-offset-0 col-sm-6 col-md-4 product-card-box">
      
              <div class="card-deck height-deck-box">

                <div class="card">

                  <div class="product img-responsive card-img-top" style="margin:0; height: 280px; width: auto; background-image: url('{{ MEDIA_URL }}{{ product.image }}'); background-size:cover"></div>

                  <div class="card-body">
                    
                    <div content-box>
    
                      <h3 class="card-title card-title-font">{{ product.title|truncatechars:40 }}</h3>
                      
                    </div>

                    <div class="content-box">

                      <p class="card-text card-text-font">{{ product.description|truncatechars:175 }}</p>

                    </div>

                    <div class="content-box">

                      <p class="card-text product-price-position">£ {{ product.price }}</p>

                    </div>
                      
                  </div>

                  <div class="card-footer">

                  <form method="post" action="{% url 'add_to_cart' product.id %}">
          
                    {% csrf_token %}
          
                    <div class="input-group">
          
                      <input name="quantity" type="number" min="1" max="999" class="form-control" placeholder="Quantity">
          
                      <span class="input-group-btn">
          
                        <button class="btn btn-success" type="submit">Add</button>
          
                      </span>
          
                    </div>
          
                  </form>
                
                </div>

              </div>
          
            </div>
            
          </div>      

        {% endfor %}
    
      </div>

      <!-- Pagination -->

      {% if products.has_other_pages %}

        <ul class="pagination justify-content-center">

            {% if products.has_previous %}

                <li class="page-item">

                  <a class="page-link" href="?page=
                        {{ products.previous_page_number }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}"><i
                        ><span aria-hidden="true" style="color: #9d6f4d;">&laquo;</span></i>
                  </a>

                </li>

            {% else %}
            
                <li class="disabled page-item"><a href="#!">

                  <i><span style="color: #9d6f4d; font-size: 2rem;" aria-hidden="true">&laquo;</span></i></a>

                </li>

            {% endif %}

            {% for num in products.paginator.page_range %}

                {% if products.number == num %}
                
                    <li class="page-item active"><a class="page-link" href="#!" style="color: #9d6f4d">{{ num }}</a></li>

                {% else %}

                    <li class="page-item"><a class="page-link" style="color: #9d6f4d"
                            href="?page={{ num }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}">{{ num }}</a>
                    </li>

                {% endif %}

            {% endfor %}

            {% if products.has_next %}

                <li class="page-item">
                  
                  <a class="page-link" href="?page=
                        {{ products.next_page_number }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}"><i><span aria-hidden="true" style="color: #9d6f4d;">&raquo;</span></i>
                  </a>

                </li>

            {% else %}

                <li class="page-item disabled"><a class="page-link" href="#!"><i><span aria-hidden="true" style="color: #9d6f4d;">&raquo;</span></i></a>
                </li>

            {% endif %}

        </ul>

      {% endif %}

    </div>

{% endblock %}

