
body {
  font-family: 'Times New Roman', Times, serif;
  padding-top: 0px;
}

/* navigation */

.navbar {
  font-size: 18px;
  padding-bottom: 0px;
  padding-top: 0px;
  padding: 40px;
}

.navbar-light .navbar-nav .nav-link {
  color: #9d6f4d;
}

.navbar.bg-light {
  height: 80px;
}

.form-position {
  margin-top: 10px;
}

.btn {
  padding-top: 6px;
}

.btn-success {
  color: #fff;
  background-color: #9d6f4d;
  border-color: #9d6f4d;
  height: 35px;
  border-radius: 2px;
}

.btn-success:hover {
  color: #fff;
  background-color: #bf8c6696;
  border-color: #bf8c6696;
}

.form-control {
  height: 35px;
  width: 350px;
  margin: auto;
}

.form-control:focus {
  border-color: #9d6f4d;
  box-shadow: none;
}

.navbar-light .navbar-nav .nav-link {
  color: #9d6f4d;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 550;
  font-family: GFModern, Arial;
}

.navbar-light .navbar-nav .nav-link:hover, .navbar-light .navbar-nav .nav-link:focus {
  text-decoration: underline;
  color: #9d6f4d;
}

.navbar.bg-light {
    background-color:#f8f9fa !important; 
    border: none;
}


.badge {
  padding-left: 9px;
  padding-right: 9px;
  -webkit-border-radius: 9px;
  -moz-border-radius: 9px;
  border-radius: 9px;
  background-color: slategray;
}

/* About html */

.about-title {
  color: #9d6f4d; 
}

/* Login html */

.login-title {
  font-family: GFModern,sans-serif;
  font-weight: 700;
  color: #9d6f4d;
  text-transform: uppercase;
  font-size: 16px;
  margin: 0 0 20px;
}

.login-input-position {
  margin-top: 55px;
  margin-left: 20px;
}

.image-login {
  justify-content: start !important;
}

.login-image {
  width: auto;
  object-fit: cover;
  margin-left: 0px;
  margin-right: 30px;
  margin-top: 40px;
  margin-bottom: 40px;
}

.flexbox-login-1 {
  min-height: 200px;
  order: 2;
  display: flex;
}

.flexbox-login-2 {
  min-height: 200px;
  flex-grow: 1;
  order: 1;
  display: flex;

}

.btn-success:not(:disabled):not(.disabled):active, .btn-success:not(:disabled):not(.disabled).active, .show>.btn-success.dropdown-toggle {

  color: #fff;
  background-color: #9d6f4d;
  border-color: #9d6f4d;

}

.btn-success:not(:disabled):not(.disabled):active:focus, .btn-success:not(:disabled):not(.disabled).active:focus, .show>.btn-success.dropdown-toggle:focus {
  -webkit-box-shadow: 0 0 0 0.2rem rgb(157, 111, 77);
  box-shadow: 0 0 0 0.2rem rgb(157, 111, 77);
}

.btn-success:focus, .btn-success.focus {
  color: #fff;
  background-color: #9d6f4d;
  border-color: #9d6f4d;
  -webkit-box-shadow: 0 0 0 0.2rem rgb(157, 111, 77);
  box-shadow: 0 0 0 0.2rem rgb(157, 111, 77);
}

/* Footer */

.social-icons a {
  font-size: 20px;
  padding-top: 10px;
}

.site-footer
{
  background-color:#41474c;;
  padding:45px 0 20px;
  font-size:15px;
  line-height:24px;
  color:#737373;
  margin-top: 30px;
}

.footer-fontsize {
  font-size: 10px;
}

.site-footer hr
{
  border-top-color:#bbb;
  opacity:0.5
}

.site-footer hr.small
{
  margin:20px 0
}

.site-footer h6
{
  color:#fff;
  font-size:16px;
  text-transform:uppercase;
  margin-top:5px;
  letter-spacing:2px
}

.site-footer a
{
  color:#737373;
}

.site-footer a:hover
{
  color: #9d6f4d;
  text-decoration:none;
}

.footer-links
{
  padding-left:0;
  list-style:none
}

.footer-links li
{
  display:block
}

.footer-links a
{
  color:#737373
}

.footer-links a:active,.footer-links a:focus,.footer-links a:hover
{
  color: #9d6f4d;
  text-decoration:none;
}

.footer-links.inline li
{
  display:inline-block
}

.site-footer .social-icons
{
  text-align:left;
  margin-left: -15px;
}

.site-footer .social-icons a
{
  width:40px;
  height:40px;
  line-height:40px;
  margin-left:0px;
  margin-right:6px;
  border-radius:100%;
  background-color: #41474c;
}

.copyright-text
{
  margin:0
}

/* link element */

.password-link {
  color: #9d6f4d !important;
  float: right;
}

/* media queries */

@media (max-width: 470px) {
  .flexbox-item {
    border: 0px !important;
  }
}

@media (max-width: 992px) {
  .flexbox-item-2 {
    display: block !important;
  }
}

@media (max-width:991px)
{
  .site-footer [class^=col-]
  {
    margin-bottom:30px
  }
}

@media (max-width:767px)
{
  .site-footer
  {
    padding-bottom:0
  }
  .site-footer .copyright-text,.site-footer .social-icons
  {
    text-align:center
  }
}


.social-icons
{
  padding-left:0;
  margin-bottom:0;
  list-style:none
}

.social-icons li
{
  display:inline-block;
  margin-bottom:4px
}

.social-icons li.title
{
  margin-right:15px;
  text-transform:uppercase;
  color:#96a2b2;
  font-weight:700;
  font-size:13px
}

.social-icons a{
  background-color:#eceeef;
  color:#818a91;
  font-size:16px;
  display:inline-block;
  line-height:44px;
  width:44px;
  height:44px;
  text-align:center;
  margin-right:8px;
  border-radius:100%;
  -webkit-transition:all .2s linear;
  -o-transition:all .2s linear;
  transition:all .2s linear
}

.social-icons a:active,.social-icons a:focus,.social-icons a:hover
{
  color:#fff;
  background-color:#29aafe
}

.social-icons.size-sm a
{
  line-height:34px;
  height:34px;
  width:34px;
  font-size:14px
}

.social-icons a.facebook:hover
{
  background-color:#3b5998
}

.social-icons a.twitter:hover
{
  background-color:#00aced
}

.social-icons a.instagram:hover
{
  background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);
}


.social-icons a.dribbble:hover
{
  background-color:#ea4c89
}

@media (max-width:767px)
{
  .social-icons li.title
  {
    display:block;
    margin-right:0;
    font-weight:600
  }
}

/* End of Footer */

.icon-bar {
  background-color: #fff;
}

.accountform {
  padding-top: 20px;
}

/* badge: is the cart icon at the nav bar */
/* we are using different webkits for different browsers. i.e moz for mozilla for firefox */


/* change the background color */

.label-warning[href],
.badge-warning[href] {
  background-color: #c67605;
}

/* Pagination */

.pagination {
  margin-top: 40px;
  margin-bottom: 40px;
}

.page-link {
  color: #a0704d !important;
}

.page-item.active .page-link {
  z-index: 3;
  color: white !important;
  background-color: #9d6f4d !important;
  border-color: #9d6f4d !important;
}

/* Products html file */

.product-card-box {
  margin-bottom: 10px;
}

.content-box {
  /* height: 150px; */
  max-height: 150px;
}

.card-text:last-child {
  align-items: center;
  font-family: 'GFModernLight',serif;
  font-weight: 300;
  color: #24231f;
  margin-bottom: 15px;
  margin-top: 15px;
  text-align: left;
}

.height-deck-box {
  height: 100%;
}

.product-price-position {
  font-size: 1.5rem;
  text-align: center !important;
}


.card-title-font {
  font-weight: 100;
}

.card-text {
  overflow: hidden;
  max-height: 150px;
}

.card-text-font {
  text-align: center;
  height: 40%;
  margin-bottom: 15px;

}


.card-title {
  margin-bottom: 0.75rem;
  text-transform: uppercase;
  text-align: center;
  color: #9d6f4d;
  height: 150px;
}

.product-title-to-image-margin {
  margin-top: 15px;
}

/* the div with class product is for the product image in the products.html file */
.product {
  /* contain so that it remains within the div and not overflow */
  background-size: contain;
  /* center center to make sure its centered within the div */
  background-position: center center;
  /* we dont want it tiling */
  background-repeat: no-repeat;
  /* set a width, regardless of size of upload its width is the same and height */
  width: 150px;
  height: 150px;
  /* auto is just to center the div within the other divs */
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 30px;
  margin-bottom: 30px;
}




/* So within our caption paragraph, which is where we describe the product, we're putting in some word-wrap so that the text will wrap within the <div>, or within the paragraph, and won't overflow. */
caption p {
  word-wrap: break-word;
}

.row.row-flex {
  display: flex;
  flex-wrap: wrap;
  margin-top: 30px;
}

/* We've used Bootstrap panels to display our products.
But we want to add some custom CSS here.
So we're adding a border-color: transparent. */

.panel-default {
  border-color: transparent;
  padding: 0 10px;
  margin-bottom: 20px;
}

.panel-body {
  height: 100%;
  border: 1px solid #ddd;
  background-color: gainsboro;
}

/* Within our product description, if you had different lengths of descriptions of each product, you would run into a problem where your <div> height would vary.
So a little trick there is to put in a min-height. */

.product-description {
  min-height: 40px;
}

/* Registration html */

.register-link {
  margin-left: 15px;
  margin-top: 15px;
}

.register-link-href {
  margin-top: 15px;
  color: #9d6f4d !important;
}

.registration-form-title {
  text-align: center;
  text-transform: uppercase;
  font-weight: 100;
  color: #000;
  margin-top: 1rem;
  margin-bottom: 2rem;
}

.sign-in-link-registrationform {
  color: #9d6f4d !important;
  float: inherit;
}

.registration-form-container {
  border: solid #9d6f4d;
  margin: auto;
  padding: 25px;
  max-width: 600px;
  margin-top: 40px;
  margin-bottom: 40px;
}

.centre-text-inside-form-container {
  margin: auto;
}

/* Contact html */

.wrapper-button {
  text-align: center;
}

label {
  display: inline-block;
  margin-bottom: 12px;
  margin-top: 12px;
}

.contact-form-position {
  text-align: center;
}

.contact_title {
  margin: 60px 0 40px;
  text-align: center;
  font-size: 16px;
  font-family: GFFoundersSans,sans-serif !important;
  font-weight: lighter;
}

.justify-content-center {
  justify-content: center !important;
}

/* Cart Html */

.cart-button {
  color: #fff;
  background-color: #9d6f4d;
  border-color: #9d6f4d;
  height: 35px;
  border-radius: 2px;
  width: auto;
}

.badge-warning {
  color: #fff;
  background-color: #9d6f4d;
  margin-top: -15px;
}

.cart-logo {
  margin-top: -4px;
}

.cart-price-font {
  font-family: 'Times New Roman', Times, serif;
}


.cart-price-font {
  font-family: 'Times New Roman', serif !important;
}

.btn-primary:focus, .btn-primary.focus {
  color: #fff;
  background-color: #9d6f4d;
  border-color: #9d6f4d;
  -webkit-box-shadow: 0 0 0 0.2rem rgb(157, 111, 77);
  box-shadow: 0 0 0 0.2rem rgb(157, 111, 77);
}

.btn-primary:hover {
  color: #fff;
  background-color: #bf8c6696;
  border-color: #9d6f4d;
}

.amend-button-position {
  margin-bottom: 16px !important;
  background-color: #9d6f4d;
  border: #9d6f4d;
  height: 30px;
  width: 60px;
  font-size: 14px;
  border-radius: 2px;
}

.product-amount-box {
  width: 70px !important;
  margin-right: 4px;
  margin-left: 4px;
}

.no-gutters {
  border: 1px solid black;
}

.cart-box-width {
  max-width: 700px !important;
}

.cart-option-to-shop-link {
  color: #ad6f48;
}

.cart-title {
  text-align: left;
  text-transform: capitalize;
  color: #ad6f48;
  margin-top: 40px;
  margin-bottom: 40px;
  position: relative;
  font-weight: 100;
}

.cart-title-text-thickness {
  font-weight: 100;
  letter-spacing: 5px;
  margin-top: 2rem;
  text-align: center !important;
  text-transform: uppercase;
}

.table-wrapper {
  margin-bottom: 20px;
}

.cart-table-title {
  display: block;
  font-weight: 300;
  line-height: 1.1;
  font-size: 1.8rem;
  margin-top: 1.5rem;
  margin-bottom: 1rem;
  text-transform: uppercase;
  text-align: center;
}

.underline-cart-title:after {
  content: "";
  width: 60px;
  height: 1.5px;
  background: #000;
  position: absolute;
  bottom: -10px;
  left: 50%;
  transform: translateX(-50%);
}

.cart-summary {
  float: right;
  position: relative;
  width: 23%;
}

.cart-summary {
  background: #fff;
  border: 1px solid #666;
  margin-bottom: 25px;
  padding: 1px 15px 10px;
}

.cart-summary {
  font-family: "GFModernLight",serif;
    font-weight: 300 !important;
    font-style: normal;
    text-transform: capitalize;
    color: #24231f;
    border-color: #646464;
}

.summary-title {
  display: block;
  font-weight: 300;
  line-height: 1.1;
  font-size: 1.8rem;
  margin-top: 1.5rem;
  margin-bottom: 1rem;
  text-align: center;
}

/* Checkout html */

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background-color: #ebebeb;
  -webkit-border-radius: 10px;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background: #6d6d6d; 
}

#checkout-scroll-bar {
  overflow-y: scroll;
  overflow: auto;  
  top: 10px;
  left: 20px;
  bottom: 10px;
  right: 0;
  padding: 30px; 
  overflow-x: hidden;
  max-height: 450px;
}

.minicart-items-wrapper {
  margin: 0 -15px 0 0;
  max-height: 370px;
  padding: 5px 15px 0 0;
  border: 0;
}

.minicart-items {
  margin: 0;
  padding: 0;
  list-style: none none;
}

legend {
  font-size: 2rem;
  text-align: left;
  border-bottom: 1px solid #ccc;
}

.checkout-cambrian-logo {
  justify-content: center;
  text-align: center;
  margin-top: 35px;
  margin-bottom: 35px;
}

.checkout-submit-payment {
  background-color: #9d6f4d;
  color: white;
  border-radius: 2px;
}

.checkout-submit-payment:hover {
  color: #fff;
  background-color: #bf8c6696;
  border-color: #bf8c6696;
}

.payment-details-title {
  color: #24231f;
  font-family: "GFModernLight",serif;
  font-weight: 300;
  font-style: normal;
  font-size: 1.5rem;
  text-transform: uppercase;
  margin-bottom: -10px;
  border-bottom: 2px solid #ccc;
  width: 347px;
  margin-left: 57px;
  margin-bottom: 10px;
}

.checkout-form-position {
  text-align: center;
  margin: auto;
}

.checkout-totalprice {
  font-size: 20px;
}

.item-quantity-totalprice-checkout {
  font-size: 20px;
}

.checkout-item-title {
  font-size: 16px;
  text-align: left;
  margin-top: 15px;
  margin-bottom: 15px;
  color: #9d6f4d;
  letter-spacing: 1px;
}

.checkout-summary-box {
  width: 275px !important;
  margin-top: 60px !important;

}

.checkout-button {
    color: #fff;
    background-color: #9d6f4d;
    border-color: #9d6f4d;
    height: 35px;
    border-radius: 2px;
    width: auto;
    margin: 5px;
    margin-left: 10px;
}



.checkout-button:hover {
  color: #fff;
  background-color: #bf8c6696;
  border-color: #bf8c6696;
}

.btn-primary:not(:disabled):not(.disabled):active, .btn-primary:not(:disabled):not(.disabled).active, .show>.btn-primary.dropdown-toggle {

  color: #fff;
  background-color: #9d6f4d;
  border-color: #9d6f4d;

}

a {
  color: #ffffff;
}

.if-no-items {
  text-align: center;
  margin-bottom: 15rem;
  font-size: 20px;
}


/* #cart-totals {
  border-top: 1px solid #d1d1d1;
  padding-top: 10px;
} */

.table-wrapper {
    /* min-width: 100%; */
    width: auto;
    background: #fff;
    padding: 0 15px;
    border: 1px solid #666;
    float: left;
    position: relative;
    width: 73%;

}

/* flexbox for cart.html */
/* align-items attribute:fles start will set the container from the x axis, meaning the box will start from the top */

.flexbox-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  margin: auto;
  /* align-content: center; */

}

.flexbox-item {
  align-items: center;
  justify-content: left;
  width: 200px;
  margin: 10px;
  border: 1px solid black;
  background-color: white;
  /* padding: 10px; */
}

.flexbox-item-1 {
  min-height: 200px;
  order: 2;
}

.flexbox-item-2 {
  min-height: 200px;
  flex-grow: 1;
  order: 1;
  display: flex;
  background-color: #f3f3f3;
  width: auto;
}

.cart-flexbox-with-border {
  border: 1px solid !important;
}

.removing-border-checkout-flexbox {
  text-align: left;
  padding-right: 145px;
  max-width: 500px;
  border: 0;
}


/* Logging in */

.alert-success {
  background-color: #9d6f4d !important;
}