body {
  font-family: 'Times New Roman', Times, serif;
  padding-top: 0px;
}

/* navigation */

.navbar {
  font-size: 18px;
  padding-bottom: 0px;
  padding-top: 0px;
  padding: 40px;
}

.navbar-light .navbar-nav .nav-link {
  color: #9d6f4d;
}

.navbar.bg-light {
  height: 80px;
}

.form-position {
  margin-top: 10px;
}

.btn {
  padding-top: 6px;
}

.btn-success {
  color: #fff;
  background-color: #9d6f4d;
  border-color: #9d6f4d;
  height: 35px;
}

.btn-success:hover {
  color: #fff;
  background-color: #bf8c6696;
  border-color: #bf8c6696;
}

.form-control {
  height: 35px;
}

.form-control:focus {
  border-color: #9d6f4d;
  box-shadow: none;
}

.navbar-light .navbar-nav .nav-link {
  color: #9d6f4d;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 550;
  font-family: GFModern, Arial;
}

.navbar-light .navbar-nav .nav-link:hover, .navbar-light .navbar-nav .nav-link:focus {
  text-decoration: underline;
  color: #9d6f4d;
}

.navbar.bg-light {
    background-color:#f8f9fa !important; 
    border: none;
}

/* Footer */

.social-icons a {
  font-size: 20px;
  padding-top: 10px;
}

.site-footer
{
  background-color:#41474c;;
  padding:45px 0 20px;
  font-size:15px;
  line-height:24px;
  color:#737373;
}

.footer-fontsize {
  font-size: 10px;
}

.site-footer hr
{
  border-top-color:#bbb;
  opacity:0.5
}

.site-footer hr.small
{
  margin:20px 0
}

.site-footer h6
{
  color:#fff;
  font-size:16px;
  text-transform:uppercase;
  margin-top:5px;
  letter-spacing:2px
}

.site-footer a
{
  color:#737373;
}

.site-footer a:hover
{
  color:#3366cc;
  text-decoration:none;
}

.footer-links
{
  padding-left:0;
  list-style:none
}

.footer-links li
{
  display:block
}

.footer-links a
{
  color:#737373
}

.footer-links a:active,.footer-links a:focus,.footer-links a:hover
{
  color: #9d6f4d;
  text-decoration:none;
}

.footer-links.inline li
{
  display:inline-block
}

.site-footer .social-icons
{
  text-align:left;
  margin-left: -15px;
}

.site-footer .social-icons a
{
  width:40px;
  height:40px;
  line-height:40px;
  margin-left:0px;
  margin-right:6px;
  border-radius:100%;
  background-color: #41474c;
}

.copyright-text
{
  margin:0
}

@media (max-width:991px)
{
  .site-footer [class^=col-]
  {
    margin-bottom:30px
  }
}

@media (max-width:767px)
{
  .site-footer
  {
    padding-bottom:0
  }
  .site-footer .copyright-text,.site-footer .social-icons
  {
    text-align:center
  }
}

.social-icons
{
  padding-left:0;
  margin-bottom:0;
  list-style:none
}

.social-icons li
{
  display:inline-block;
  margin-bottom:4px
}

.social-icons li.title
{
  margin-right:15px;
  text-transform:uppercase;
  color:#96a2b2;
  font-weight:700;
  font-size:13px
}

.social-icons a{
  background-color:#eceeef;
  color:#818a91;
  font-size:16px;
  display:inline-block;
  line-height:44px;
  width:44px;
  height:44px;
  text-align:center;
  margin-right:8px;
  border-radius:100%;
  -webkit-transition:all .2s linear;
  -o-transition:all .2s linear;
  transition:all .2s linear
}

.social-icons a:active,.social-icons a:focus,.social-icons a:hover
{
  color:#fff;
  background-color:#29aafe
}

.social-icons.size-sm a
{
  line-height:34px;
  height:34px;
  width:34px;
  font-size:14px
}

.social-icons a.facebook:hover
{
  background-color:#3b5998
}

.social-icons a.twitter:hover
{
  background-color:#00aced
}

.social-icons a.instagram:hover
{
  background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);
}


.social-icons a.dribbble:hover
{
  background-color:#ea4c89
}

@media (max-width:767px)
{
  .social-icons li.title
  {
    display:block;
    margin-right:0;
    font-weight:600
  }
}

/* End of Footer */

.icon-bar {
  background-color: #fff;
}

.accountform {
  padding-top: 20px;
}

/* badge: is the cart icon at the nav bar */
/* we are using different webkits for different browsers. i.e moz for mozilla for firefox */

.badge {
  padding-left: 9px;
  padding-right: 9px;
  -webkit-border-radius: 9px;
  -moz-border-radius: 9px;
  border-radius: 9px;
}

/* change the background color */

.label-warning[href],
.badge-warning[href] {
  background-color: #c67605;
}

/* the div with class product is for the product image in the products.html file */
.product {
  /* contain so that it remains within the div and not overflow */
  background-size: contain;
  /* center center to make sure its centered within the div */
  background-position: center center;
  /* we dont want it tiling */
  background-repeat: no-repeat;
  /* set a width, regardless of size of upload its width is the same and height */
  width: 150px;
  height: 150px;
  /* auto is just to center the div within the other divs */
  margin: 0 auto;
}

/* So within our caption paragraph, which is where we describe the product, we're putting in some word-wrap so that the text will wrap within the <div>, or within the paragraph, and won't overflow. */
caption p {
  word-wrap: break-word;
}

.row.row-flex {
  display: flex;
  flex-wrap: wrap;
  margin-top: 30px;
}

/* We've used Bootstrap panels to display our products.
But we want to add some custom CSS here.
So we're adding a border-color: transparent. */

.panel-default {
  border-color: transparent;
  padding: 0 10px;
}

.panel-body {
  height: 100%;
  border: 1px solid #ddd;
}

/* Within our product description, if you had different lengths of descriptions of each product, you would run into a problem where your <div> height would vary.
So a little trick there is to put in a min-height. */

.product-description {
  min-height: 40px;
}



