{% extends 'base.html' %}

<!-- as this is going to contain forms we are going to load up bootstrap and static -->
{% load static from staticfiles %}

{% load bootstrap_tags %}

{% block content %}

<div class="container"><p class="payment-details-title">Payment Details</p></div>
  <div class="flexbox-container">

    <div class="flexbox-item flexbox-item-2">

      <form class="checkout-form-position" role="form" method="post" id="payment-form" action="{% url 'checkout' %}">

        <!-- <legend>Payment Details</legend> -->

        <div id="credit-card-errors" style="display: none">

          <div class="alert-message block-message error" id="stripe-error-message"></div>

        </div>

        <div class="form-group">

          {{ order_form|as_bootstrap }}

        </div>

        <div class="form-group">

          {{ payment_form|as_bootstrap }}

        </div>


        {% csrf_token %}

        <div class="form-group">

          <input class="btn btn-primary" id="submit_payment_btn" name="commit" type="submit" value="Submit Payment">

        </div>

      </form>
    
    </div>

    

      {% for item in cart_items %}

      <div class="flexbox-item flexbox-item-1 checkout-summary-box">

        <table class="table">

          <thead>

            <h4 class="cart-table-title">Order Summary</h4>

            <tr>

              <th scope="col" class="product" style="background-image: url('{{ MEDIA_URL }}{{ item.product.image }}')">
            </th>
              
            <td>
              <p class="checkout-item-title">{{ item.product.title }}</p>
            </td>
              
            </tr>

            <tr>

              <th class="checkout-totalprice" scope="col">Total Price</th>

              <td class="item-quantity-totalprice-checkout
              "> £{{ total }}</td>
            
            </tr>
            
            <tr>

              <th class="checkout-totalprice" scope="col">Qty</th>

              <td class="item-quantity-totalprice-checkout">{{ item.quantity }}</td>

            </tr>
            
          </thead>
        
        </table>

        <a class="btn btn-primary checkout-button" href="{% url 'view_cart' %}" role="button">VIEW AND EDIT BASKET</a>  
        
      </div>

      </div>

    {% endfor %}

  </div>

</div>

    </div>
  
  </div>
  
</div>

{% endblock %}

<!-- So we're going to add a block head_js here.
Now, this contains JavaScript that Stripe requires.
And we're actually going to have to go back to our base.html here and add in the block head_js here.
So what will happen is that the JavaScript that we're going to write in checkout.html will only be injected into base.html when we're clicking on the checkout. -->

<!-- block head_js contains javascript that stripe requires -->
{% block head_js %}

<!-- stripe.com/v2 is the direct link to Stripes javascript. This is the first thing to be loaded -->
<script type="text/javascript" src="https://js.stripe.com/v2/"></script>

<!-- next we put our own javascript in -->

<script type = 'text/javascript'>
  //<![CDATA[
    Stripe.publishableKey = '{{ publishable }}';
  //]]>
</script>

<script type='text/javascript' src="{% static 'js/stripe.js' %}"></script>

{% endblock %}