
{% extends 'base.html' %}

{% load bootstrap_tags %}

{% block page_title %}Login Page {% endblock %}

{% block page_heading %}User Login{% endblock %}

{% block content %}

    <div class="flexbox-container image-login">
        
        <div>

            <img class="login-image" src="\media\images\cam-whisk-login-photo.jpg" alt="">
        
        </div>
        
        <div class="login-input-position">

        <h3 class="login-title">Already Registered</h3>

            <form action="" method="POST">

                <!-- we use the % sign instead of curly braces as this is a reference to a function  -->

                {% csrf_token %}

                {{ login_form | as_bootstrap }}

                <button action='submit' class="btn btn-success">Login</button>
                
                <a class="password-link" href='{% url "password_reset" %}'>I've lost my password</a>   
            
            </form>

        </div>

    </div>

{% endblock %}



