{% extends 'base.html' %}

<!-- load static this will allow us anything in our static directory i.e. css, fonts, javascript -->

{% load static from staticfiles %}

{% load bootstrap_tags %}

{% block content %}

    {% for item in cart_items %}

      <div class="wrapper cart-title">

        <h1 class="cart-title-text-thickness underline-cart-title">Shopping Basket</h1>
      
      </div>

      <div class="flexbox-container">
        
        <div class="flexbox-item flexbox-item-1">
          
          <table class="table">

            <thead>

              <h4 class="cart-table-title">Summary</h4>

              <tr>

                <th scope="col">SUBTOTAL</th>

                <td> £{{ total }}</td>

              </tr>

              <tr>

                <th scope="col">VAT</th>

                <td>mark</td>
              
              </tr>
              
              <tr>

                <th scope="col">ORDER TOTAL</th>

                <td> £{{ total }}</td>

              </tr>
              
            </thead>
            
          </table>

          <a class="btn btn-primary checkout-button" href="{% url 'checkout' %}" role="button">Checkout</a>  
            
        </div>

        <div class="flexbox-item flexbox-item-2">

          <div class="col-md-2 product" style="background-image: url('{{ MEDIA_URL }}{{ item.product.image }}');background-size:cover"></div>

          <div class="col-md-4">

              <h5 class="cart-title">{{ item.product.title }}</h5>

          </div>

          <div class="col-md-2">

            <form method="post" action="{% url 'adjust_cart' item.id %}" class="form-inline">

              {% csrf_token %}
                    
              <div class="form-group">

                <label for="exampleInputAmount" class="sr-only">New Qty</label>

                  <div class="input-group">
                    
                    <div class="input-group-addon">Qty</div>
                    
                    <input name="quantity" type="number" min="0" max="99999" class="form-control product-amount-box">

                    <div class="input-group-addon">{{ item.quantity }}</div>

                  </div>

              </div>
                
          </div>

          <div class="col-md-2">

            <button class="btn btn-primary btn-sm amend-button-position" type="submit"><span class="glyphicon glyphicon-edit" aria-hidden="true"></span>Amend</button>
          
          </div>   
              
            </form>
            
            <div class="col-md-2 cart-price-font">

              <p class="cart-price-font"> £{{ item.product.price }}</p>
      
            </div>
        
        </div>

        {% empty %}

        <div class="wrapper cart-title">

          <h1 class="cart-title-text-thickness underline-cart-title">Shopping Basket</h1>
          
        </div>
      
        <div class="container if-no-items">
      
          <p>
      
            You have no items in your shopping cart. 
          
          </p>
      
          <p>
      
            Click <a class="cart-option-to-shop-link" href="{% url 'products' %}" role="button">here</a> to continue shopping. 
      
          </p>
      
        </div>

    {% endfor %}

  </div> 
  
{% endblock %}

 