{% extends 'base.html' %}

<!-- load static this will allow us anything in our static directory i.e. css, fonts, javascript -->

{% load static from staticfiles %}

{% load bootstrap_tags %}

{% block content %}

  <div class="wrapper cart-title">

    <h1 class="cart-title-text-thickness underline-cart-title">Shopping Basket</h1>
    
  </div>
  

  <div class="container if-no-items">

    <p>

      You have no items in your shopping cart. 
    
    </p>

    <p>
      Click <a class="cart-option-to-shop-link" href="{% url 'products' %}" role="button">here</a> to continue shopping. 
     

    </p>

  </div>

  <div class="flexbox-container">

    {% for item in cart_items %}

      <div class="flexbox-item flexbox-item-1">

        <table class="table">

          <thead>

            <h4 class="cart-table-title">Summary</h4>

            <tr>

              <th scope="col">SUBTOTAL</th>

              <td> £{{ total }}</td>

            </tr>

            <tr>

              <th scope="col">VAT</th>

              <td>mark</td>
            
            </tr>
            
            <tr>

              <th scope="col">ORDER TOTAL</th>

              <td> £{{ total }}</td>

            </tr>
            
          </thead>
        
        </table>

        <a class="btn btn-primary checkout-button" href="{% url 'checkout' %}" role="button">Checkout</a>  
        
      </div>

      <div class="card mb-3 cart-box-width">

        <div class="row no-gutters">

          <div class="col-md-2 product" style="background-image: url('{{ MEDIA_URL }}{{ item.product.image }}');background-size:cover">
          </div>

          <div class="col-md-4">

            <div class="card-body">

              <h5 class="card-title">{{ item.product.title }}</h5>

            </div>

          </div>
          
          <div class="col-md-2">

            <form method="post" action="{% url 'adjust_cart' item.id %}" booclass="form-inline">

              {% csrf_token %}
              
              <div class="form-group">
  
                <label for="exampleInputAmount" class="sr-only">New Qty</label>
  
                 <div class="input-group">
  
                  <div class="input-group-addon">Qty</div>
  
                  <input name="quantity" type="number" min="0" max="99999" class="form-control">
  
                  <div class="input-group-addon">{{ item.quantity}}</div>
  
                </div>
  
              </div>

              <div class="col-md-2">
  
                <button class="btn btn-primary checkout-button" type="submit"><span class="glyphicon glyphicon-edit" aria-hidden="true"></span>Amend</button>
              
              </div>   
            
            </form>
            
          </div>

          <div class="col-md-2">
            
            <p> £{{ item.product.price }}</p>
            
          </div>

        </div>
        
      </div>

      <!-- <div class="flexbox-item flexbox-item-2">

        <div class="product" style="background-image: url('{{ MEDIA_URL }}{{ item.product.image }}');background-size:cover"></div>

        <div> 
          
          <h3>{{ item.product.title }}</h3>
        
        </div>
        
        <div> 

          <p class="product-description">{{ item.product.description }}</p>
        
        </div>
        
        <div>

          <p> £{{ item.product.price }}</p>
        
        </div> -->
        
        <!-- <div>

          <form method="post" action="{% url 'adjust_cart' item.id %}" class="form-inline">

            {% csrf_token %}
            
            <div class="form-group"> 

              <label for="exampleInputAmount" class="sr-only">New Qty</label>

               <div class="input-group">

                <div class="input-group-addon">Qty</div>

                <input name="quantity" type="number" min="0" max="99999" class="form-control">

                <div class="input-group-addon">{{ item.quantity}}</div>

              </div>

            </div>

            <button class="btn btn-primary checkout-button" type="submit"><span class="glyphicon glyphicon-edit" aria-hidden="true"></span>Amend</button>
          
          </form>

          fimish 

        </div> -->
      
      </div> 

    {% endfor %}

  </div>
  
{% endblock %}

 

      <!-- <div class="product" style="background-image: url('{{ MEDIA_URL }}{{ item.product.image }}');"></div> -->

      <!-- <div class="caption"> -->

        <!-- <h3>{{ item.product.title }}</h3> -->

        <!-- <p class="product-description">{{ item.product.description }}</p> -->

        <!-- <p>{{ item.product.price }}</p> -->
        <!-- here we will create a form which will include an input where we can adjust the number of items we wish to purchase  -->
        <!-- <p>

          <form method="post" action="{% url 'adjust_cart' item.id %}" class="form-inline">

            {% csrf_token %}
            
            <div class="form-group">

              <label for="exampleInputAmount" class="sr-only">New Qty</label>

              <div class="input-group">

                <div class="input-group-addon">Qty</div>

                <input name="quantity" type="number" min="0" max="99999" class="form-control">

                <div class="input-group-addon">{{ item.quantity}}</div>

              </div>

            </div>

            <button class="btn btn-primary" type="submit"><span class="glyphicon glyphicon-edit" aria-hidden="true"></span>Amend</button>
          
          </form>

        </p> -->

      <!-- </div> -->

    <!-- </div> -->

  