<!-- main structure for pages across the site -->

<!-- a template tag that says load staticfiles and this basically tells django that we first of all need to load the staticfiles which will allow us to use the static URL which will then tell us to tell django where our static directory lives -->
{% load staticfiles %}

<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie-edge">
    <title>Cambrian Whiskey</title>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <link rel="stylesheet" href="{% static 'font_awesome/css/font-awesome.min.css' %}">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootswatch/4.4.1/litera/bootstrap.min.css"> 

    
    <link rel="stylesheet" href="{% static 'css/custom.css' %}">
    <!-- inject block head_js here so that the javascript that were going to write in checkout.html will only be injected into base.html when we are clicking on the checkout -->

  </head>
  <body>
    {% block nav %} {% include 'nav.html' %} {% endblock %}

    <!-- <h1>{% block page_heading %}{% endblock %}</h1> -->
    {% if messages %}
      <div class="alert alert-success">
        <div class="messages">
            {% for message in messages%}
                {{ message }}
            {% endfor %}
        </div>
      </div>
    {% endif %}
    <div class="container">
      <div class="display">
        <form class="form-position" action="{% url 'search' %}" method="get">
          <input type="text" name="q">
          <button type="submit">Search</button>
        </form>
      </div>
      {% block content %}{% endblock %}
    </div>
</body>    
{% block footer %} {% include 'footer.html' %}
{% endblock %}

    <!-- jquery for the stripe.js file for the functionality of card payments -->
    <!-- always have script at the bottom of the body element -->
    
    

    <!-- Latest compiled and minified JavaScript -->

    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script> -->
    
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

    {% block head_js %}
    {% endblock %}


</html>